<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WatchGalleria Support Center</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2c8d038c04.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="icon" href="/images/logo.png" type="website icon">
  <style>
    :root {
    --primary-color: rgba(42, 180, 244, 255);
    --secondary-color: #DCAB27;
    --text-color: #333333;
    --background-color: #F7F7F7;
    --accent-color: #2A3E5F;
    --highlight-color: #80D1F3;
    --button-primary-color: #2A5FFF;
    --button-secondary-color: #F72CD2;
    --border-color: #DDDDDD;
    --navbar-color: #E0F0FF; /* Choose one of the suggested colors */
    --text-color: grey; /* For text within the navbar */
    --navbar-link-color: #FFFFFF; /* Navbar link color */
}
    .custom-logo img {
      height: 70px;
      width: 65px;
      aspect-ratio: 3/2;
    }

    .custom-t .custom-text {
      color: #DCAB27;
      font-weight: bold;
    }

    * {
      margin: 0;
      padding: 0;
    }

    .nav-item a:hover {
      color: #2CA8E1 !important;
      transition: 0.2s;
    }

    body {
      color: #333333;
    }

    strong,
    container {
      color: #DCAB27;
    }

    h2,
    h1 {
      color: rgba(42, 180, 244, 255);
    }

    p>a {
      text-decoration: none;
      color: var(--primary-color) !important;
      /* background-color: red !important; */
    }

    div {
      text-align: justify;
    }

    .navbar {
      background-color: rgba(42, 180, 244, 255);
    }
    marquee>p{
      margin-bottom: 0 !important;
    }
  </style>
</head>

<body>
  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand fs-3" href="/">
        <div class="custom-logo d-flex align-items-center">
          <img src="/images/logo.png" alt=" Logo" class="img-fluid">
          <span class="custom-t ms-2">Watch<span class="custom-text">Galleria</span></span>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 fs-5 ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Return to Homepage</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Customer Support Center -->
  <div class="container text-center">
    <h1><i class="fa-solid fa-headset"></i> Customer Support Center</h1>
  </div>

  <!-- Support Information -->
  <main>
    <div class="container-fluid ms-1">
      <div class="text">
        <p>Welcome to the WatchGalleria Customer Support Center. We're here to help you with any questions or concerns
          you may have. Below, you'll find important information about our return and refund policy, FAQs, as well as
          our shipping information.</p>
        <h2>Return and Refund Policy</h2>
        <p>At WatchGalleria, we strive to ensure our customers have a seamless shopping experience. Please review our
          return and refund policy outlined below:</p>
        <ul>
          <li><strong>Non-returnable Items:</strong> Once received, items cannot be returned unless they are damaged
            upon arrival.</li>
          <li><strong>Damaged Items:</strong>
            <ul>
              <li>If your product arrives damaged, you are eligible to return it. Please follow these steps:</li>
              <li>Notify our customer support within 48 hours of receiving the item.</li>
              <li>Provide a detailed description of the damage and include clear photographs.</li>
              <li>Upon verification, we will arrange for a return and either replace the item or issue a refund.</li>
            </ul>
          </li>
        </ul>
        <h2>Return Process</h2>
        <p>Contact our customer support team through our Customer Support Center with your order number and details of
          the product. Our team will guide you through the return process and provide you with a return shipping label
          if necessary.</p>
        <h2>Refunds</h2>
        <p>Once we receive the returned item and verify the damage, we will process your refund within 7-10 business
          days. Refunds will be issued to the original payment method used during the purchase.</p>
        <h2>Shipping Information</h2>
        <ul>
          <li><strong>Delivery Cost:</strong> Delivery costs range from Rs. 100 to Rs. 650, depending on the location of
            the user.</li>
          <li><strong>Delivery Time:</strong> We aim to deliver your products within 4-5 business days from the date of
            order confirmation.</li>
        </ul>
        <h2>FAQs</h2>
        <div class="accordion accordion-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <b>How do I reset my password?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Click on the "Forgot Password" on login page. Enter the valid email, then submit it. You will get an OTP
                to reset the password.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Can I shop without creating an account?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No, You can't shop without creating an account. However, you can still search and view products.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>How can I modify my order details?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Once order is placed, you cannot modify it.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                <b>Is shopping on WatchGalleria secure?</b>
              </button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes, we use advanced security measures to protect your personal and payment information.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                <b>Can I schedule a delivery time?</b>
              </button>
            </h2>
            <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No, scheduling a delivery time is not possible.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
                <b>Is there a minimum order value?</b>
              </button>
            </h2>
            <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No, there is no minimum order value. However the minimum delivery charge is Rs.80.
              </div>
            </div>
          </div>
        </div>
        <!-- faq ends -->
        <h2>Contact Us</h2>
        <p>If you have any questions or need further assistance, please do not hesitate to reach out to our Customer
          Support Center:</p>
        <p><strong>Phone Number:</strong> <b>01-5580237, 98431015292</b></p>
        <p><strong>Email Address:</strong><b> inboxunique1@gmail.com</b></p>
        <p><strong>Message us on Social Media</strong></p>
        <p><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</p></a>
        <p><a href="#"><i class="fa-brands fa-facebook-messenger"></i> Messenger</p></a>
        <p><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</p></a>
        <p><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</p></a>

      </div>
    </div>
  </main>
  <footer>
    <marquee behavior="" direction="">
      <p class="fs-3 ">Thank you for shopping with <span class="">Watch</span><span
          class=""><b>Galleria</b></span>!</p>
    </marquee>
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>