<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification | WatchGalleria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2c8d038c04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/vendorDashboard.css">
    <style>
        a{
            text-decoration: none;
        }
        .main-body {
            padding-left: 190px;
        }
        @media screen and (max-width:991px) {
            .main-body {
                padding-left: 0px;
            }
        }
        .active {
            font-weight: bolder;
            color: #DCAB27;
        }
    </style>
</head>
<body>
    <!-- <%- include('adminDashboardSidebar') %> -->
       <!-- successful message -->
       <!-- <i class="fa-solid fa-bell"></i> -->
       <main class="container main-body mt-lg-3">
        <div class="alert alert-info d-flex justify-content-between align-items-center" role="alert">
            <div>
                An admin has updated your product <span class="fw-bold">Huawei Watch</span> on <span class="fw-bold">March 8, 2004</span>.
            </div>
            <a href="#" class="fw-bold">Mark as read <i class="fa-solid fa-envelope-circle-check"></i></a>
        </div>
    </main>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>